
<div class="flex align-items-center justify-content-center">
    <button pButton pRipple label="Home" type="button" class="mr-3 p-button-raised" [routerLink]="''"></button>
</div>

<div class="surface-section px-4 py-5 md:px-6 lg:px-8">
    <div class="flex md:align-items-center md:justify-content-between flex-column md:flex-row pb-4 border-bottom-1 surface-border">
        <div class="mb-3 lg:mb-0">
            <div class="text-3xl font-medium text-900 mb-3">Vaquinha dos funcionários</div>
            <div class="text-500 mr-0 md:mr-3">Como ajudar</div>
        </div>
    </div>
</div>




<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="text-700 text-center">
        <div class="text-blue-600 font-bold mb-3">&nbsp;Faça sua doação</div>
        <div class="text-900 font-bold text-5xl mb-3">Chave PIX</div>
        <div class="text-700 text-2xl mb-5"> {{ chavepix }}</div>
        <a href="https://docs.google.com/spreadsheets/d/1zxoLDI1Djeai22IMhgELpHQkKtMhk4gwA1RqN0yGTbM/edit?usp=sharing" target="_blank" rel="noopener noreferrer" class="p-button font-bold" size="large">
            Prestação de contas
        </a>
        <a href="https://chat.whatsapp.com/Hxs9S3m3BH90kSitAssOb5" target="_blank" rel="noopener noreferrer" class="p-button font-bold mt-2 ml-2" size="large">
            Grupo para avisos e extratos
        </a>
    </div>
</div>
<div class="flex justify-content-center">
    <div class="surface-card shadow-2 px-2 md:px-6 py-5 border-round mb-4 text-900 text-2xl line-highlight-3"
        style="max-width: 600px">
            Devido a gravidade do que estamos vivenciando, decidimos fazer uma vaquinha para ajudar os colaboradores do Green (Empresa JRS) que perderam tudo.
            <br> <br>
            As enchentes danificaram propriedades, casas, eletrodomésticos e tudo que possuiam.
            <br>
            Você pode ajudar com qualquer valor, de forma anônima, a reconstrução da vida de quem sempre nos ajudou.
            <br> <br>
            Estamos disponibilizando uma conta bancária para receber suas doações, e o valor será dividido <strong>igualmente</strong> 
            entre todos os funcionários da lista abaixo, e usado para reconstruir suas casas e suas vidas.
    </div>
</div>


<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="text-center font-bold text-900 text-5xl mb-3">Quem são</div>
    <div class="text-center text-xl line-height-3 text-600 mb-6">Funcionários do Green estão desabrigados e precisando de ajuda, veja quem é ajudado pela nossa vaquinha:</div>
    <div class="grid">
        <div class="col-12 md:col-4 text-center mb-5">
            <img src="assets/images/blocks/avatars/marcelo.jpeg" class="mb-3 avatar" />
            <div class="text-xl text-900 font-medium mb-3">Marcelo</div>
            <div class="text-blue-600 text-xl mb-3">Zelador</div>
        </div>
        <div class="col-12 md:col-4 text-center mb-5">
            <img src="assets/images/blocks/avatars/gabriele.jpeg" class="mb-3 avatar" />
            <div class="text-xl text-900 font-medium mb-3">Gabriele</div>
            <div class="text-blue-600 text-xl mb-3">ADM Green</div>
        </div>
        <div class="col-12 md:col-4 text-center mb-5">
            <img src="assets/images/blocks/avatars/eduarda.jpeg" class="mb-3 avatar" />
            <div class="text-xl text-900 font-medium mb-3">Eduarda</div>
            <div class="text-blue-600 text-xl mb-3">ADM Associação</div>
        </div>
        <div class="col-12 md:col-4 text-center mb-5">
            <img src="assets/images/blocks/avatars/rafael.jpeg" class="mb-3 avatar" />
            <div class="text-xl text-900 font-medium mb-3">Rafael</div>
            <div class="text-blue-600 text-xl mb-3">Zelador</div>
        </div>
        <div class="col-12 md:col-4 text-center mb-5">
            <img src="assets/images/blocks/avatars/luiz.jpeg" class="mb-3 avatar" />
            <div class="text-xl text-900 font-medium mb-3">Luiz</div>
            <div class="text-blue-600 text-xl mb-3">Zelador</div>
        </div>
    </div>
</div>


<div class="surface-ground px-4 py-6 md:px-6">
    <span class="block font-bold text-3xl mb-5 text-center">Perguntas e Respostas</span>
    <div class="grid grid-nogutter">
        <div class="col-12 md:col-6 lg:col-4 p-3">
            <div class="shadow-2 p-3 border-round h-full surface-card">
                <div class="font-medium text-xl text-900 mb-3">Como é feita a prestação de contas?</div>
                <p class="text-700 line-height-3 m-0">A prestação de contas é feita no grupo do whatsapp, através de planilha e extratos bancários.</p>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4 p-3">
            <div class="shadow-2 p-3 border-round h-full surface-card">
                <div class="font-medium text-xl text-900 mb-3">Como será feita a divisão de valores?</div>
                <p class="text-700 line-height-3 m-0">Todo o valor doado será dividido <strong>Igualmente</strong> entre todos os funcionários </p>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4 p-3">
            <div class="shadow-2 p-3 border-round h-full surface-card">
                <div class="font-medium text-xl text-900 mb-3">Minha doação será anônima?</div>
                <p class="text-700 line-height-3 m-0">Sim, apenas o código de identificação do PIX será usado para prestação de contas.</p>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4 p-3">
            <div class="shadow-2 p-3 border-round h-full surface-card">
                <div class="font-medium text-xl text-900 mb-3">Quem está organizando a Vaquinha?</div>
                <p class="text-700 line-height-3 m-0">Grupo de moradores juntamente com o síndico e funcionários do ADM do Green.</p>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4 p-3">
            <div class="shadow-2 p-3 border-round h-full surface-card">
                <div class="font-medium text-xl text-900 mb-3">Como sei para quem estou doando?</div>
                <p class="text-700 line-height-3 m-0">Acima nesta página existe uma lista de funcionários e suas funções.</p>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4 p-3">
            <div class="shadow-2 p-3 border-round h-full surface-card">
                <div class="font-medium text-xl text-900 mb-3">Por quê não usar sites como o vakinha.com.br?</div>
                <p class="text-700 line-height-3 m-0">Estes sites cobram uma taxa de operação, usando uma chave pix podemos destinar toda a quantia para os funcionários.</p>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4 p-3">
            <div class="shadow-2 p-3 border-round h-full surface-card">
                <div class="font-medium text-xl text-900 mb-3">Posso ir diretamente no ADM?</div>
                <p class="text-700 line-height-3 m-0">Lá você também pode obter informações.</p>
            </div>
        </div>
    </div>
</div>


