
<div class="flex align-items-center justify-content-center">
    <button pButton pRipple label="Home" type="button" class="mr-3 p-button-raised" [routerLink]="''"></button>
</div>

<div class="surface-section px-4 py-5 md:px-6 lg:px-8">
    <div class="flex md:align-items-center md:justify-content-between flex-column md:flex-row pb-4 border-bottom-1 surface-border">
        <div class="mb-3 lg:mb-0">
            <div class="text-3xl font-medium text-900 mb-3">Cozinha solidária</div>
            <div class="text-500 mr-0 md:mr-3">Enoteca e Salão do Green D</div>
        </div>
    </div>
</div>


<div class="px-4 py-8 md:px-6 lg:px-8" style="background:radial-gradient(69.84% 69.84% at 50% 100%, rgba(21, 101, 192, 0.15) 0%, rgba(255, 255, 255, 0) 100%);">
    <div class="text-blue-600 text-xl font-medium mb-3">Como ajudar</div>
    <div class="text-900 text-3xl font-bold mb-3">Você pode ajudar de diversas maneiras:</div>
    <div class="grid mt-7">
        <div class="col-12 md:col-4">
            <div class="shadow-1 p-5 surface-card text-center border-round">
                <div class="border-circle bg-blue-50 p-4 text-blue-600 inline-flex justify-content-center align-items-center mb-4">
                    <i class="pi pi-heart text-5xl "></i>
                </div>
                <div class="text-900 font-medium text-2xl mb-4">Insumos</div>
                <div class="text-700 mb-4 line-height-3">Doação de alimentos, potes e embalagens para marmitas</div>
            </div>
        </div>
        <div class="col-12 md:col-4">
            <div class="shadow-1 p-5 surface-card text-center border-round">
                <div class="border-circle bg-purple-50 p-4 text-purple-600 inline-flex justify-content-center align-items-center mb-4">
                    <i class="pi pi-users text-5xl"></i>
                </div>
                <div class="text-900 font-medium text-2xl mb-4">Mão de Obra</div>
                <div class="text-700 mb-4 line-height-3">Ajude a preparar, cozinhar e embalar refeições</div>
            </div>
        </div>
        <div class="col-12 md:col-4">
            <div class="shadow-1 p-5 surface-card text-center border-round">
                <div class="border-circle bg-orange-50 p-4 text-orange-600 inline-flex justify-content-center align-items-center mb-4">
                    <i class="pi pi-truck text-5xl"></i>
                </div>
                <div class="text-900 font-medium text-2xl mb-4">Transporte</div>
                <div class="text-700 mb-4 line-height-3">Carregar caixas, levar mantimentos e entregar as marmitas</div>
            </div>
        </div>
    </div>
    <div class="flex align-items-center justify-content-center">
        <a href="https://chat.whatsapp.com/HUJLnup4e5wKFmxSNouOn9" target="_blank" rel="noopener noreferrer" class="p-button font-bold" size="large">
            Entrar no grupo da cozinha
        </a>
    </div>
</div>




<div class="surface-ground px-4 py-6 md:px-6">
    <span class="block font-bold text-3xl mb-5 text-center">Perguntas e Respostas</span>
    <div class="grid grid-nogutter">
        <div class="col-12 md:col-6 lg:col-4 p-3">
            <div class="shadow-2 p-3 border-round h-full surface-card">
                <div class="font-medium text-xl text-900 mb-3">Para onde vão as refeições?</div>
                <p class="text-700 line-height-3 m-0">Estão sendo entregues no SESI Canoas (R. Aurora, 1220 - Mal. Rondon)</p>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4 p-3">
            <div class="shadow-2 p-3 border-round h-full surface-card">
                <div class="font-medium text-xl text-900 mb-3">Quem está organizando?</div>
                <p class="text-700 line-height-3 m-0">Grupo de moradores juntamente com o síndico e funcionários do ADM do Green.</p>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4 p-3">
            <div class="shadow-2 p-3 border-round h-full surface-card">
                <div class="font-medium text-xl text-900 mb-3">Como sei para quem estou doando?</div>
                <p class="text-700 line-height-3 m-0">Você pode acompanhar o preparo e as entregas das marmitas, bem como falar com o pessoal do SESI.</p>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4 p-3">
            <div class="shadow-2 p-3 border-round h-full surface-card">
                <div class="font-medium text-xl text-900 mb-3">Quais os horários?</div>
                <p class="text-700 line-height-3 m-0">Estamos em dois turnos: das 09:30 as 14:00 e das 17:30 as 21:00</p>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4 p-3">
            <div class="shadow-2 p-3 border-round h-full surface-card">
                <div class="font-medium text-xl text-900 mb-3">Onde ajudar?</div>
                <p class="text-700 line-height-3 m-0">Enoteca e Salão de festas do Green D</p>
            </div>
        </div>
    </div>
</div>


